<div>
  <div class="jumbotron">
    <h1>Servicios por categoría</h1>
  </div>
  
  
  <div class="container">
    <form action="<%=new_search_path%>">
      <p><strong>Buscar</strong></p>
      <input name="q">
    </form>
    
    
    <div class="card-deck" id="services">
      
      <%= render @services%>
    
    
  </div>
  <br>
  <script>
    $("[name=q]").keyup(function(event){
      $.ajax({
        url:'<%=new_search_path%>',
        type: 'GET',
        dataType:'script',
        data: {q: $(this).val()}
      })
    });
    
  </script>
  <%= link_to 'Quiero ofrecer un servicio', new_service_path %>
</div>      

</div>


