<h1>Nuevo Servicio</h1>
<h5>¿Qué ofreces? ¿Haces reparaciones? ¿Preparas unos deliciosos platos? ¿Eres estilista? ¿Además vas a domicilio? Cuéntale a tus posibles clientas!!! </h5>

<%= render 'form', service: @service %>

<%= link_to 'Atrás', services_path %>
